<!-- Social media icons container -->
<div class="text-white footer-end-bg p-4">
    <div class="mb-3 flex flex-col">
        <h5 class="font-bold mx-auto ">Connect on socials</h5>
        <div class="col p-1 align-self-center text-center">
            {% for item in site.data.footer %}
            <a href="{{ item.link }}" type="button"
                class="m-1 h-9 w-9 rounded-full border-2 border-white text-white hover:border-[{{ item.brand }}] hover:text-[{{ item.brand }}] transition duration-150 ease-in-out hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0"
                data-te-ripple-init data-te-ripple-color="light">
                <svg xmlns="http://www.w3.org/2000/svg" class="mx-auto h-full w-4 fill-current" viewBox="0 0 24 24">
                    <path d="{{ item.svg }}" />
                </svg>
            </a>
            {% endfor %}
        </div>
    </div>
    <!-- Copyright section -->
    <div class="text-center">
        © 2023 Copyright •
        <a href="https://www.christoph-rieger.ca/" class="hover:underline">Christoph Rieger</a>
    </div>
</div>