<section class="px-2 py-2 dark-grey-bg rounded-t-2xl md:rounded-t-3xl">
    <div class="container pt-6 mx-auto">
        <div class="flex flex-col">
            <!-- Headline -->
            <div class="flex flex-col justify-between pb-4 border-b md:flex-row border-sky-100">
                <div class="mx-auto my-auto md:mx-0">
                    <h2 class="text-4xl font-bold leading-none tracking-tight text-white ">
                        Let's
                        <span class="text-sky-600">Connect</span>
                    </h2>
                </div>
                <div class="pt-2 mx-auto md:mx-0 md:my-auto md:pt-0">
                    <a href="/blog">
                        <button class="rounded-full text-white bg-sky-600 hover:bg-sky-700 px-5 py-2.5">View All My
                            Work</button>
                    </a>
                </div>
            </div>
            <!-- Summary, Nav, Contact, Newsletter -->
            <div class="flex flex-col justify-between py-4 border-b md:flex-row border-sky-100">
                <!-- Socials -->
                <div class="flex flex-col py-4 basis-1/3">
                    <div class="flex flex-row mx-auto my-auto md:mx-0">
                        <img class="object-cover w-12 h-12 border-2 rounded-full border-sky-600"
                            src="/assets/images/about/crieger.jpg" alt="christoph rieger" loading="lazy" width="640"
                            height="805">
                        <h2 class="my-auto ml-4 text-2xl font-bold leading-none tracking-tight text-white">
                            Christoph Rieger
                        </h2>
                    </div>
                    <div class="py-2 text-white">
                        <p>Freelance Web Developer, Solutions Architect and Educator based out of Prince Edward Island,
                            Canada</p>
                    </div>
                    <div class="mx-auto md:mx-0">
                        <h3 class="pb-2 mx-auto font-medium text-center text-white md:text-left">Connect on socials</h3>
                        {% for item in site.data.footer %}
                        <a href="{{ item.link }}" type="button"
                            class="m-1 text-white transition duration-150 ease-in-out border-2 border-white rounded-full h-9 w-9 hover:border-sky-600 hover:text-sky-600 hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0"
                            data-te-ripple-init data-te-ripple-color="light" aria-label="{{ item.label }}">
                            <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-full mx-auto fill-current"
                                viewBox="0 0 24 24">
                                <path d="{{ item.svg }}" />
                            </svg>
                        </a>
                        {% endfor %}
                    </div>
                </div>
                <!-- Contact -->
                <div class="pt-2 mx-auto md:mx-0 md:pt-0 basis-1/3">
                    <div class="flex flex-row justify-around ">
                        <div class="flex flex-col">
                            <h3 class="py-2 mx-auto font-bold text-sky-600">Contact Information</h3>
                            <a href="tel: 902-620-8500"
                                class="py-2 font-semibold text-white transition duration-300 hover:text-sky-600">+1
                                902-620-8500</a>
                            <a href="mailto:christoph.karsten.rieger@gmail.com"
                                class="py-2 font-semibold text-white transition duration-300 hover:text-sky-600">christoph.karsten.rieger@gmail.com</a>
                            <a href="#"
                                class="py-2 font-semibold text-white transition duration-300 hover:text-sky-600">11
                                Fulton Dr, Cornwall, PE</a>
                        </div>
                    </div>
                </div>
                <!-- Email Signup -->
                <div class="py-4 pt-2 mx-auto md:mx-0 md:my-auto md:pt-0 basis-1/3">
                    <div class="flex flex-col mx-auto">
                        <h3 class="py-2 pb-2 mx-auto font-bold text-sky-600">Get the latest information</h3>
                        <div class="py-4">{% include footer/footerform.html %}
                        </div>
                        <div class="text-white">Stay up to date with the latest projects, blog posts and YouTube content
                            by subscribing to the Newsletter
                        </div>
                    </div>
                </div>
            </div>
            <!-- Copyright -->
            <div class="flex flex-col justify-between py-4 md:flex-row">
                <div class="mx-auto my-auto">
                    <div class="text-center text-white">
                        Copyright © 2023 •
                        <a href="https://www.christoph-rieger.ca/"
                            class="hover:underline text-sky-600 hover:text-sky-700">Christoph
                            Rieger</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>