<!-- Footer section with social media icons and newsletter sign-up -->
<!-- Nested in container -->

<footer class="footer-bg text-center text-white container mx-auto mb-4">
    <div class="mx-auto" id="socials">
        <div class="flex-col">
            <div class="flex flex-row">
                <!-- Category section -->
                <div class="basis-1/2">
                    <div class="my-3">
                        <h5 class="mb-3 font-bold">Explore the blog</h5>

                        <div class="col p-5 align-self-center text-center">
                            {% assign categories_list = site.categories %}
                            {% for category in categories_list %}
                            <a class="m-1 border rounded-full p-2 catlinks hover:text-lime-300 hover:border-white"
                                href="{{site.baseurl}}/categories#{{ category[0] | url_escape | strip | replace: ' ', '-' }}">{{
                                category[0] | camelcase }} - {{ category[1].size }}</a>
                            {% endfor %}
                            {% assign categories_list = nil %}
                        </div>
                    </div>
                </div>
                <!-- Email signup -->
                <div class="basis-1/2">
                    <div class="my-3">
                        <h5 class="mb-1 font-bold">Newsletter signup</h5>
                        <span class="text-white text-sm ">
                            Sign up to to stay up to date with the blog content. Soon ™
                        </span>

                        <form class="mt-3">
                            <div class="flex flex-row">
                                <div class="basis-3/4">
                                    <label class="block">
                                        <input type="text" value="email" disabled class="mt-1 block w-full px-3 py-2 bg-white border border-slate-300 rounded-md text-sm shadow-sm placeholder-slate-400
                                focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500
                                disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 disabled:shadow-none
                                invalid:border-pink-500 invalid:text-pink-600
                                focus:invalid:border-pink-500 focus:invalid:ring-pink-500
                              " />

                                    </label>
                                </div>
                                <div class="basis-1/4">
                                    <button
                                        class="rounded-full border p-2 catlinks hover:text-lime-300 hover:border-white">Subscribe</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>