---
layout: default
title: "Blog"
---

<h1 class="invisible">Blog</h1>
<div class="">
  <!-- Featured post template
  <div class="flex flex-row ...">
    <div class="">
      {%- assign fp = site.posts | where: 'featured', true -%}
      {%- for fp in site.posts -%}
      {{- post.title -}}
      {%- endfor -%}
    </div>
  </div>
  -->
  <!-- Post Grid -->
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-2 sm:gap-4 md:gap-6 ">
    {% for post in paginator.posts %}
    {% include postcard.html %}
    {% endfor %}
  </div>
  <!-- Pagination
================================================== -->
  <div class="text-center">
    <span class="navigation" role="navigation">
      {% include pagination.html %}
    </span>
  </div>
</div>
{% include footer/landingfooter.html %}