<!-- Footer section with social media icons and newsletter sign-up -->
<footer class="footer-bg text-center text-white container mx-auto">
    <div class="mx-auto" id="socials">
        <div class="flex-col">
            <div class="flex flex-row">
                <!-- Category section -->
                <div class="basis-1/2">
                    <div class="my-3">
                        <h5 class="mb-3 font-bold">Explore the blog</h5>

                        <div class="col p-5 align-self-center text-center">
                            {% assign categories_list = site.categories %}
                            {% if categories_list.first[0] == null %}
                            {% for category in categories_list %}
                            <a class="m-1 border rounded-full p-2 catlinks hover:text-lime-300 hover:border-white"
                                href="{{site.baseurl}}/categories#{{ category | url_escape | strip | replace: ' ', '-' }}">{{
                                category |
                                camelcase }} - {{ site.tags[category].size }}</a>
                            {% endfor %}
                            {% else %}
                            {% for category in categories_list %}
                            <a class="m-1 border rounded-full p-2 catlinks hover:text-lime-300 hover:border-white"
                                href="{{site.baseurl}}/categories#{{ category[0] | url_escape | strip | replace: ' ', '-' }}">{{
                                category[0] | camelcase }} - {{ category[1].size }}</a>
                            {% endfor %}
                            {% endif %}
                            {% assign categories_list = nil %}
                        </div>
                    </div>
                </div>
                <!-- Email signup -->
                <div class="basis-1/2">
                    <div class="my-3">
                        <h5 class="mb-1 font-bold">Newsletter signup</h5>
                        <span class="text-white text-sm ">
                            Sign up to to stay up to date with the blog content.
                        </span>

                        <form class="mt-3">
                            <div class="flex flex-row">
                                <div class="basis-3/4">
                                    <label class="block">
                                        <input type="text" value="email" disabled class="mt-1 block w-full px-3 py-2 bg-white border border-slate-300 rounded-md text-sm shadow-sm placeholder-slate-400
                                focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500
                                disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 disabled:shadow-none
                                invalid:border-pink-500 invalid:text-pink-600
                                focus:invalid:border-pink-500 focus:invalid:ring-pink-500
                              " />

                                    </label>
                                </div>
                                <div class="basis-1/4">
                                    <button
                                        class="rounded-full border p-2 catlinks hover:text-lime-300 hover:border-white">Subscribe</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- Copyright section -->
<!-- Social media icons container -->
<div class="text-white footer-end-bg p-4">
    <div class="my-3 flex flex-col">
        <h5 class="mb-3 font-bold mx-auto ">Connect on socials</h5>
        <div class="col p-1 align-self-center text-center">
            {% for item in site.data.footer %}
            <a href="{{ item.link }}" type="button"
                class="m-1 h-9 w-9 rounded-full border-2 border-white text-white hover:border-[{{ item.brand }}] hover:text-[{{ item.brand }}] transition duration-150 ease-in-out hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0"
                data-te-ripple-init data-te-ripple-color="light">
                <svg xmlns="http://www.w3.org/2000/svg" class="mx-auto h-full w-4 fill-current" viewBox="0 0 24 24">
                    <path d="{{ item.svg }}" />
                </svg>
            </a>
            {% endfor %}
        </div>
    </div>
    <div class="pt-2 text-center">
        © 2023 Copyright ~
        <a href="https://www.christoph-rieger.ca/" class="hover:underline">Christoph Rieger</a>
    </div>
</div>