<div class="mx-auto">
    <div class="offdark-bg hover:shadow-lg hover:shadow-lime-800 rounded-lg max-w-sm h-full flex flex-col">
        <div class="">
            <a href="{{ post.url | absolute_url }}">
                <img class="rounded-t-lg object-cover h-48 w-96" src="{{ post.image }}" alt="{{ post.title }}">
            </a>
        </div>
        <div class="grow p-5">
            <a href="{{ post.url | absolute_url }}">
                <h5 class="text-gray-100 font-bold text-2xl tracking-tight mb-2">{{ post.title }}
                </h5>
            </a>
            <p class="font-normal text-gray-300">{{ post.excerpt | strip_html | truncatewords:20 }}</p>
        </div>
        <div class="flex flex-row px-5 mb-5">
            {% for tag in post.categories %}
            <a class="border rounded-full catlinks text-white hover:text-lime-300 hover:border-white font-medium rounded-lg text-sm px-3 py-2 text-center inline-flex items-center mr-3"
                href="#">
                {{ tag }}
            </a>
            {% endfor %}
        </div>
    </div>
</div>