---
---

@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    height: 100%;
}

body {
    min-height: 100%;
    background-repeat:no-repeat;
    background-color: rgb(24, 24, 24); 
    background-attachment:fixed;
}

.navfoot-bg {
    background-repeat:no-repeat;
    background-image: -webkit-gradient(linear, left top, right top, from(rgb(8,162,198)), to(rgb(246,82,44))); 
}

.footer-bg {
    background-repeat:no-repeat;
    background-color: rgb(24, 24, 24); 
    background-attachment:fixed;
}


.footer-end-bg{
    background-color: rgba(0, 0, 0, 0.2);
}

/** Lazy img **/
.lazyimg {
    display: block;
    border: 0 none;
    opacity: 1;
    transition: opacity .25s;
    background: #f2f2f2;
    outline: 0 none;
}

.lazyimg[data-src],
.lazyimg[data-srcset] {
    opacity: 0;
    transition: opacity .25s;
}

/** utterances comments **/

.utterances {
    min-width: 100%;
    width: 100%;
} 

.catlinks{
    border-color: #bef264;
    border-width: .15em;  
}