---
layout: default
title: "Christoph Rieger • Blog"
permalink: /blog
---

<h1 class="invisible">Blog</h1>
<div class="">
  <!-- Featured post template
  <div class="flex flex-row ...">
    <div class="">
      {%- assign fp = site.posts | where: 'featured', true -%}
      {%- for fp in site.posts -%}
      {{- post.title -}}
      {%- endfor -%}
    </div>
  </div>
  -->
  <!-- Post Grid -->
  <div
    class="container grid grid-cols-1 gap-1 px-2 py-2 mx-auto sm:grid-cols-2 md:grid-cols-3 sm:gap-4 md:gap-6 md:py-5 postgrid md:px-0"
    data-spotlight>
    {% for post in paginator.posts %}
    {% include blog/blogcard.html %}
    {% endfor %}
  </div>
  <!-- Pagination
================================================== -->
  <div class="text-center">
    <span class="navigation" role="navigation">
      {% include pagination.html %}
    </span>
  </div>
</div>