<div class="flex flex-col items-center justify-center ">
    <div class="relative flex flex-col items-center w-full py-2 mx-auto rounded-xl">
        <div class="relative flex justify-center w-full h-16 bg-cover rounded-xl">
            <div
                class="absolute -bottom-12 flex h-[87px] w-[87px] items-center justify-center rounded-full border-[2px] border-white">
                <img class="w-full h-full rounded-full" src='/assets/images/about/crieger.jpg' alt="" />
            </div>
        </div>
        <div class="flex flex-col items-center mt-16">
            <h4 class="text-xl font-bold ">
                Christoph Rieger
            </h4>
            <p class="text-base font-normal ">Solutions Architect</p>
        </div>
        <div class="mt-6 mb-3 flex gap-14 md:!gap-14">
            <div class="flex flex-col items-center justify-center">
                <p class="text-2xl font-bold ">{{ site.posts | size }}</p>
                <p class="text-sm font-normal ">Total Posts</p>
            </div>
            <div class="flex flex-col items-center justify-center">
                <p class="text-2xl font-bold ">
                    {{ site.categories[page.category].size }}
                </p>
                <p class="text-sm font-normal ">
                    <!-- Workaround to capitalize each word -->
                    {% assign words = page.category | split: ' ' %}
                    {% capture titlecase %}
                    {% for word in words %}
                    {{ word | capitalize }}
                    {% endfor %}{% endcapture %}
                    {{ titlecase }}
                    Posts
                </p>
            </div>
        </div>
    </div>
</div>