<div class="flex flex-col justify-center items-center ">
    <div class="relative flex flex-col items-center rounded-[20px] w-full mx-auto py-2 post-bg rounded-xl">
        <div class="relative flex h-16 w-full justify-center rounded-xl bg-cover">
            <div
                class="absolute -bottom-12 flex h-[87px] w-[87px] items-center justify-center rounded-full border-[2px] border-white">
                <img class="h-full w-full rounded-full" src='/assets/images/about/crieger.jpg' alt="" />
            </div>
        </div>
        <div class="mt-16 flex flex-col items-center">
            <h4 class="text-xl font-bold text-white">
                Christoph Rieger
            </h4>
            <p class="text-base font-normal text-white">Solutions Architect</p>
        </div>
        <div class="mt-6 mb-3 flex gap-14 md:!gap-14">
            <div class="flex flex-col items-center justify-center">
                <p class="text-2xl font-bold text-white">{{ site.posts | size }}</p>
                <p class="text-sm font-normal text-white">Total Posts</p>
            </div>
            <div class="flex flex-col items-center justify-center">
                <p class="text-2xl font-bold text-white">
                    {{ site.categories[page.category].size }}
                </p>
                <p class="text-sm font-normal text-white">
                    <!-- Workaround to capitalize each word -->
                    {% assign words = page.category | split: ' ' %}
                    {% capture titlecase %}
                    {% for word in words %}
                    {{ word | capitalize }}
                    {% endfor %}{% endcapture %}
                    {{ titlecase }}
                    Posts
                </p>
            </div>
        </div>
    </div>
</div>