<div class="flex flex-col ">
    <p class="mb-2 font-semibold leading-7 text-center md:text-left">Support the blog
    </p>
    <div class="mx-auto mb-4 md:mb-0">
        <a href="https://www.buymeacoffee.com/chphr"><img
                src="https://img.buymeacoffee.com/button-api/?text=Buy me a coffee&emoji=&slug=chphr&button_colour=0284c7&font_colour=000000&font_family=Lato&outline_colour=000000&coffee_colour=FFDD00"
                alt="buy me a coffee button image" class="" /></a>
    </div>
</div>