<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/assets/css/main.css">
  <script src="https://kit.fontawesome.com/0ea8fd230e.js" crossorigin="anonymous"></script>
  {% seo %}
</head>

<body class="">
  {% include navbar/navigation.html %}
  <div class="container mx-auto">
    {{content}}
    {% include footer.html %}
  </div>
</body>

</html>