---
layout: default
archive: false
post_class: post-template
---

<div class="flex flex-row">
    <div class="basis-3/4 p-5">
        <article class="prose max-w-none prose-invert">
            {{ content }}
        </article>
    </div>
    <div class="basis-1/4">
        <div class="flex flex-col">
            <div class="">
                <p class="text-white font-semibold leading-7 mt-5">In this article</p>
                {% toc %}
            </div>
            <div class="mt-5 mx-auto">
                <div class="rating-holder">
                    <div class="c-rating c-rating--regular" data-rating-value="{{page.rating}}">
                        <button>1</button>
                        <button>2</button>
                        <button>3</button>
                        <button>4</button>
                        <button>5</button>
                    </div>
                </div>
            </div>
            <div class="my-5 mx-auto">
                <a href="https://www.buymeacoffee.com/chphr"><img
                        src="https://img.buymeacoffee.com/button-api/?text=Buy me a coffee&emoji=&slug=chphr&button_colour=bef264&font_colour=000000&font_family=Lato&outline_colour=000000&coffee_colour=FFDD00" /></a>
            </div>
        </div>
    </div>
</div>