---
layout: default
archive: false
post_class: post-template
---
<!-- Social Sharing by sharethis -->
<script type="text/javascript"
    src="https://platform-api.sharethis.com/js/sharethis.js#property=646cbd97a660b80019d55c82&product=inline-share-buttons&source=platform"
    async="async"></script>
<!-- Google Ads -->
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8315791014160137"
    crossorigin="anonymous"></script>


<div class="flex flex-row">
    <div class="basis-3/4 p-5">
        <article class="prose max-w-none prose-invert">
            {{ content }}
        </article>
    </div>
    <div class="basis-1/4">
        <div class="flex flex-col">
            <div class="">
                <p class="text-white font-semibold leading-7 mt-5">In this article</p>
                <div class="text-slate-400 leading-7">
                    {% toc %}
                </div>
            </div>
            <div class="mt-5">
                <div class="flex flex-col">
                    <p class="text-white font-semibold leading-7 mb-2">Share this post</p>
                    <div class="mx-auto">
                        <div class="sharethis-inline-share-buttons"></div>
                    </div>
                </div>
            </div>
            {% if page.isreview == true %}
            <div class="mt-5">
                <div class="flex flex-col">
                    <p class="text-white font-semibold leading-7 mb-2">My review</p>
                    <div class="mx-auto">
                        <div class="rating-holder">
                            <div class="c-rating c-rating--regular" data-rating-value="{{page.rating}}">
                                <button>1</button>
                                <button>2</button>
                                <button>3</button>
                                <button>4</button>
                                <button>5</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- TODO: Add box with link to product -->
            <!-- TODO: Refactor Sidebar -->
            {% endif %}
            <div class="mt-5">
                <div class="flex flex-col">
                    <p class="text-white font-semibold leading-7 mb-2">Support the blog</p>
                    <div class="mx-auto">
                        <a href="https://www.buymeacoffee.com/chphr"><img
                                src="https://img.buymeacoffee.com/button-api/?text=Buy me a coffee&emoji=&slug=chphr&button_colour=bef264&font_colour=000000&font_family=Lato&outline_colour=000000&coffee_colour=FFDD00"
                                alt="buy me a coffee button image" /></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% if page.comments == true %}
<script src="https://utteranc.es/client.js" repo="chphr/christoph-rieger" issue-number={{page.comments_id}}
    theme="github-dark" crossorigin="anonymous" async>
    </script>
{% endif %}