<div class="py-8">
    <section class="py-6 bg-sky-600 rounded-3xl">
        <div class="mx-auto">
            <!-- Banner -->
            <div class="py-4 text-4xl text-black -skew-y-3 bg-white">
                <h2 class="text-center text-clip"><span class="text-sky-600">•</span> Web Development <span
                        class="text-sky-600">•</span>
                    Data Architecture & Migration
                    <span class="text-sky-600">•</span> Education <span class="text-sky-600">•</span>
                </h2>
            </div>
        </div>
    </section>
    <section class="py-6" id="contact">
        <div class="container mx-auto">
            <div class="grid grid-cols-1 gap-4 lg:grid-cols-8">
                <!-- Contact Details -->
                <div class="flex flex-col col-span-3 my-auto">
                    <h2 class="pb-4 text-4xl font-bold leading-none tracking-tight text-center text-black lg:text-left">
                        Let's
                        <span class="text-sky-600">Connect</span> & <span class="text-sky-600">Collaborate</span>
                    </h2>
                    <p class="px-4 lg:px-0">Get in touch by using the form or connect with my via phone or email.</p>
                    <div class="grid grid-cols-12 px-4 lg:px-0">
                        <div class="col-span-1 pt-4"><i
                                class="p-2 rounded-full fa-regular fa-envelope bg-stone-200 text-sky-600"></i>
                        </div>
                        <div class="col-span-11 pt-4 pl-2 my-auto ">
                            <p>christoph.karsten.rieger@gmail.com</p>
                        </div>
                        <div class="col-span-1 pt-4"><i
                                class="p-2 rounded-full fa-solid fa-phone bg-stone-200 text-sky-600"></i></div>
                        <div class="col-span-11 pt-4 pl-2 my-auto">
                            <p>+1 (902) 620 8500</p>
                        </div>
                        <div class="col-span-1 pt-4"><i
                                class="p-2 rounded-full fa-solid fa-location-dot bg-stone-200 text-sky-600"></i></div>
                        <div class="col-span-11 pt-4 pl-2 my-auto">
                            <p>11 Fulton Dr, Cornwall, PE</p>
                        </div>
                    </div>
                </div>
                <!-- Contact Form -->
                <div class="col-span-5 rounded-xl bg-stone-200">
                    <form action="https://formspree.io/f/mgejzzyr" method="POST">
                        <div class="grid grid-cols-2">
                            <div class="px-4 pt-4"> <label>
                                    <input type="firstname" name="firstname" class="w-full rounded-xl p-2.5"
                                        placeholder="First Name">
                                </label></div>
                            <div class="px-4 pt-4"> <label>
                                    <input type="lastname" name="lastname" class="w-full rounded-xl p-2.5"
                                        placeholder="Last Name">
                                </label></div>
                            <div class="px-4 pt-4"> <label>
                                    <input type="email" name="email" class="w-full rounded-xl p-2.5"
                                        placeholder="Email">
                                </label></div>
                            <div class="px-4 pt-4"> <label>
                                    <input type="phone" name="phone" class="w-full rounded-xl p-2.5"
                                        placeholder="Phone">
                                </label></div>
                            <div class="col-span-2 px-4 pt-4">
                                <label>
                                    <input type="subject" name="subject" placeholder="Subject"
                                        class="w-full rounded-xl p-2.5">
                                </label>
                            </div>
                            <div class="col-span-2 px-4 pt-4 ">

                                <label>
                                    <textarea name="message" class="w-full rounded-xl p-2.5"
                                        placeholder="Message"></textarea>
                                </label>
                            </div>

                            <!-- your other form fields go here -->
                            <div class="col-span-2 px-4 py-4">
                                <button type="submit"
                                    class="rounded-full text-white bg-sky-600 hover:bg-sky-700 px-5 py-2.5">Send
                                    Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>