<section class="px-2 my-8 ">
    <div class="container mx-auto">
        <div class="flex flex-col">
            <div class="mx-auto md:mx-0">
                <h2 class="pb-4 text-4xl font-bold leading-none tracking-tight text-center text-black lg:text-left">
                    Questions?
                    <span class="text-sky-600">Answers</span>.
                </h2>
                <p class="px-4 md:px-0">Find the answers to the most asked questions below</p>
            </div>
            <!-- Questions & Answers -->
            <div class="px-4 pt-4 md:px-0">
                <div class='card'>
                    <details
                        class='p-8 transition duration-500 border-l-8 border-solid rounded-md cursor-pointer bg-stone-200 border-stone-400 hover:bg-stone-400'>
                        <summary class='flex items-center justify-space-between focus:outline-none'>
                            <header class='flex items-center justify-center'>
                                <svg class='w-10 h-10' viewBox="0 0 44 44" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M32.6066 22H11.3934" stroke="#202842" stroke-width="1.875"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M22 11.3934V32.6066" stroke="#202842" stroke-width="1.875"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                                <h1 class='flex self-center text-xl leading-5 text-black'>Can I download your resume/CV
                                    for information</h1>
                            </header>
                        </summary>
                        <div class='ml-10 text-lg content'>
                            <p>Certainly! You can <a href="assets/downloads/Resume - Christoph Rieger.pdf"
                                    class="border-b text-sky-600 hover:text-sky-700 border-sky-600 hover:border-sky-700"
                                    download="Christoph Rieger Resume">download
                                    my resume/CV</a> from my website. The
                                reusme provides a
                                comprehensive overview of my education, work experience and skills.</p>
                        </div>
                    </details>
                </div>
            </div>
            <div class="pt-4">
                <div class='px-4 card md:px-0'>
                    <details
                        class='p-8 transition duration-500 border-l-8 border-solid rounded-md cursor-pointer bg-stone-200 border-stone-400 hover:bg-stone-400'>
                        <summary class='flex items-center justify-space-between focus:outline-none'>
                            <header class='flex items-center justify-center'>
                                <svg class='w-10 h-10' viewBox="0 0 44 44" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M32.6066 22H11.3934" stroke="#202842" stroke-width="1.875"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M22 11.3934V32.6066" stroke="#202842" stroke-width="1.875"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                                <h1 class='flex self-center text-xl leading-5 text-black'>What tools do you use for your
                                    websites?</h1>
                            </header>
                        </summary>
                        <div class='ml-10 text-lg content'>
                            <p>The tools and technology stack for your websites heavily depends on your project. Whether
                                you are looking for static webpage or full web application, the tools may differ.</p>
                        </div>
                    </details>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>