<div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
  <div class="flex flex-col items-center py-5">
    <h5 class="mb-2 text-xl font-medium text-gray-900 dark:text-white">
      Categories
    </h5>
    <div class="flex flex-wrap ">
      {% for tag in site.tags %}
      <div class="px-2 pb-2"> <a href="#"
          class="flex items-center px-2 py-1 text-base font-bold text-gray-900 rounded-xl bg-gray-50 hover:bg-gray-100 group hover:shadow dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-white">
          <span class="flex-1 ml-1 whitespace-nowrap">{{ tag[0] }}</span>
          <span
            class="inline-flex items-center justify-center px-2 py-0.5 ml-3 mr-1 text-xs font-medium text-gray-500 bg-gray-200 rounded dark:bg-gray-700 dark:text-gray-400">{{
            tag[1].size }}</span>
        </a></div>
      {% endfor %}
    </div>
    </ul>
  </div>
</div>