<nav class="sticky top-0 z-10 mx-auto">
  <div class="px-4 mx-auto md:shadow-xl dark-grey-bg md:rounded-b-3xl">
    <div class="flex justify-between">
      <div class="flex justify-between grow ">
        <div>
          <!-- Website Logo -->
          <a href="{{ site.url }}" class="flex items-center px-2 py-4">
            <img src="/assets/images/logo.png" alt="Logo" class="w-8 h-8 mr-2">
            <span class="text-lg font-semibold text-white">Christoph Rieger</span>
          </a>
        </div>
        <!-- Primary Navbar items -->
        <div class="items-center hidden space-x-1 md:flex">
          {% for item in site.data.navigation %}
          <a href="{{ item.link }}" {% if page.url==item.link %}
            class="px-2 py-4 font-semibold text-white hover:text-sky-600" {% else %}
            class="px-2 py-4 font-semibold text-gray-400 transition duration-300 hover:text-sky-600" {% endif %}>{{
            item.name }}</a>
          {% endfor %}
        </div>
      </div>
      <!-- Mobile menu button -->
      <div class="flex items-center md:hidden">
        <button class="w-10 h-10 rounded outline-none mobile-menu-button bg-sky-600 hover:bg-sky-700"
          title="Navigation Button">
          <svg class="mx-auto text-white w-7 h-7 hover:text-white" x-show="!showMenu" fill="none" stroke-linecap="round"
            stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
            <path d="M4 6h16M4 12h16M4 18h16"></path>
          </svg>
        </button>
      </div>
    </div>
  </div>
  <!-- mobile menu -->
  <div class="hidden mobile-menu rounded-b-3xl dark-grey-bg">
    <ul class="">
      {% for item in site.data.navigation %}
      <li>
        <a href="{{ item.link }}" {% if page.url==item.link %}
          class="block px-2 py-4 text-sm font-semibold text-center text-white" {% else %}
          class="block px-2 py-4 text-sm text-center text-gray-200 transition duration-300 hover:text-white " {% endif
          %}>{{
          item.name }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
  <script>
    const btn = document.querySelector("button.mobile-menu-button");
    const menu = document.querySelector(".mobile-menu");

    btn.addEventListener("click", () => {
      menu.classList.toggle("hidden");
    });
  </script>
</nav>